header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: .8em;
    text-transform: uppercase;
}

.shows h1 {
    font-size: 2.5rem;
}

section h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

h1 {
    font-weight: lighter;
}

.cast img {
    width: 100%;
}

.cast li {
    width: 25%;
}

.shows > li {
    border-top: 1px solid black;
}

nav .selected a {
    font-weight: bold;
    color: black;
}

.cast a div {
    font-size: .8rem;
}

.cast a div:first-of-type {
    font-weight: bold;
}

.cast a div:nth-of-type(2) {
    font-style: italic;
}

#game-of-thrones .seasons li:last-of-type::after {
    content: '*';
}

#game-of-thrones .seasons::after {
    content: '* Final Season';
    font-size: 0.7rem;
    color: #999;
}